@import "tailwindcss";

@layer base {
  * {
    scrollbar-width: none;
  }

  h3 {
    letter-spacing: -0.02em;
    text-wrap: balance;
    font-weight: 700;
  }
}

@theme {
  --dropbox-color: #0061fe;
  --dropbox-btn-size: 90px;
  --dropbox-left: calc(var(--dropbox-btn-size) / -6);
  --dropbox-bottom: 50%;
  --dropbox-transform: translate(calc(50vw - var(--dropbox-btn-size) / 3), 50%);
  --nav-tile-gap: 10px;
}